<html>
    <head>
        <title>WatchBat!</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.13/angular.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/css/bootstrap.min.css"/>
        <script>
         var module = angular.module('watchbatApp', []);
         module.controller('watchbat', function($scope, $http) {
             
             var watchID = navigator.geolocation.watchPosition(function(position) {
                 $scope.position = position;
             });
             
             navigator.geolocation.getCurrentPosition(function (position) {
                 $scope.position = position;
             });
             
             $scope.occurrences = [];
             $scope.heard = function() {
                 $scope.count += 1;
                 $scope.occurrences.push({
                     time:new Date(),
                     location: {
                         latitude: $scope.position.coords.latitude,
                         longitude: $scope.position.coords.longitude
                     }
                 });
             };
             $scope.start = function() {
                 $scope.observing = true;
                 $scope.occurrences = [];
             };
             $scope.removeLast = function() {
                 $scope.occurrences.pop();
                 $scope.count = Math.max(0, $scope.count - 1);
             };
             $scope.count = 0;
             $scope.done = function() {
                 $scope.loading = true;
                 $http.post('/watchbat/api', { count: $scope.count || $scope.occurrences.length, occurrences: $scope.occurrences })
                     .success(function() {
                         $scope.loading = false;
                         $scope.observing = false;
                         window.alert("Done!");
                     })
                     .error(function() {
                        $scope.loading = false; 
                         window.alert("Error submitting data...try again?");
                     });
             };
         });
        </script>
    </head>
    <body ng-app="watchbatApp" ng-controller="watchbat" class="container">

        <div class="row">
        <h1>WatchBat!</h1>

        <form class="form">
            <button class="btn btn-primary" type="button" ng-show="!observing" ng-click="start()" ng-disable="loading">Start Observing</button>
            <div ng-show="observing" >
                <button class="btn btn-default" type="button" ng-click="heard()" ng-disabled="loading"><i class="glyphicon glyphicon-volume-up"></i> I heard a bat! ~-_-~ </button>
                <button class="btn btn-danger"type="button" ng-click="removeLast()" ng-disabled="loading">Remove last observation.</button>
                <label for="count">Count: </label><input id="count" name="count" type="number" ng-model="count"/>
                <button class="btn btn-primary" type="submit" ng-click="done()" ng-disabled="loading" >Done observing </button>
            </div>
        </form>
        <table class="table table-striped table-condensed">
            <thead>
                <tr>
                    <td>#</td>
                    <td>Time</td>
                    <td>Location</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="occurrence in occurrences">
                    <td>{{ $index + 1 }}</td>
                    <td>
                        {{ occurrence.time | date:long }}
                    </td>
                    <td>
                        {{ occurrence.location }}
                    </td>
                </tr>
            </tbody>
        </table>
        </div>        
    </body>
</html>
